<form name="newRiderForm" class="new-rider">
    <label for="name">Name</label><br/>
    <input id="name" name="name" type="text" ng-model="rider.name" required/>
    <span ng-show="newRiderForm.name.$dirty && newRiderForm.name.$error.required" class="warning-message">
        Valore obbligatorio!
    </span><br/>


    <label for="number">Number</label><br/>
    <input id="number" name="number" type="number" ng-model="rider.number" required/>
    <span ng-show="newRiderForm.name.$dirty && newRiderForm.name.$error.required" class="warning-message">
        Valore obbligatorio!
    </span><br/>


    <label for="team">Team</label><br/>
    <input id="team" name="team" type="text" ng-model="rider.team" required /><br/>


    <label for="city">City</label><br/>
    <input id="city" name="city" type="text" ng-model="rider.city" required /><br/>


    <label for="weight">Weight</label><br/>
    <input id="weight" name="weight" type="number" ng-model="rider.weight" required /><br/>


    <label for="height">Height</label><br/>
    <input id="height" name="height" type="number" ng-model="rider.height" required /><br/>

    <div class="action">
        <button ng-click="reset()" class="reset">Annulla</button>
        <button ng-click="createRider(rider);" ng-disabled="newRiderForm.$invalid" class="save">Crea</button>
    </div>

</form>
<!--Dati rider {{rider | json}}-->